<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Angular Query Builder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="libraries/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="libraries/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
</head>
<body ng-app="app">
    <a href="https://github.com/niklr/angular-query-builder"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
    <div ng-controller="MainController">
        <div class="container" style="margin-top: 30px">
            <div class="hero-unit">
                <h2>
                    Angular Query Builder
                    <small>v{{appVersion}} / based on AngularJS and Bootstrap</small>
                </h2>
            </div>
            <div class="aqb-search-form">
                <form name="searchForm" ng-submit="search(searchForm, $event)">
                    <div class="aqb-search-form-body">
                        <div class="aqb-animate-combined" ng-repeat="group in searchContainer.groups | orderBy:'index'">
                            <div search-group
                                 search-container="searchContainer"
                                 groups="searchContainer.groups"
                                 group-index="$index"
                                 source-types="sourceTypes"
                                 logical-operators="logicalOperators"></div>
                        </div>
                    </div>
                    <div class="aqb-search-form-footer">
                        <button type="submit" class="btn" ng-disabled="searchForm.$invalid">Search</button>
                    </div>
                </form>
                <div ng-show="!!output">
                    <pre ng-bind-html="output"></pre>
                </div>
            </div>
            <div>
                <pre>{{jsonOutput}}</pre>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var angular_query_builder_version = "<%= grunt.config.get('pkg.version') %>";
    </script>

    <script src="libraries/jquery/jquery.js"></script>
    <script src="libraries/bootstrap/js/bootstrap.js"></script>
    <script src="libraries/angular/angular.js"></script>
    <script src="libraries/angular/angular-animate.js"></script>
    <script src="libraries/underscore/underscore.js"></script>
    <script src="js/angular-query-builder-templates.min.js"></script>
    <script src="js/angular-query-builder.min.js"></script>
    <script src="main.js"></script>


</body>
</html>