<form class="form-inline aqb-search-condition" name="searchConditionForm">
    <select name="sourceField"
            ng-change="selectSourceField()"
            ng-model="selectedSourceField"
            ng-class="searchConditionForm.$submitted && searchConditionForm.sourceField.$error.required ? 'aqb-input-error' : ''"
            ng-options="f.displayName for f in sourceType.sourceFields | orderBy:'position'" required></select>

    <select name="comparisonOperator"
            ng-change="selectComparisonOperator()"
            ng-model="selectedComparisonOperator"
            ng-class="searchConditionForm.$submitted && searchConditionForm.comparisonOperator.$error.required ? 'aqb-input-error' : ''"
            ng-options="o.displayName for o in selectedSourceField.comparisonOperators | orderBy:'position'" required></select>

    <input name="inputItem"
           type="text"
           id="{{searchConditionInputItemId}}"
           ng-model="inputItem.displayName"
           ng-class="searchConditionForm.$submitted && searchConditionForm.inputItem.$error.required ? 'aqb-input-error' : ''" 
           autocomplete="off" required>

    <button class="btn" type="submit" ng-click="addCondition(searchConditionForm)" ng-show="canAddCondition(conditionIndex)"><i class="icon-plus-sign"></i></button>
    <button class="btn" type="button" ng-click="removeCondition(conditionIndex)"><i class="icon-minus-sign"></i></button>
</form>